h1 {
  font-size: 32px;
}

[data-component-part="card-icon"] {
  background-color: #F8F8F8;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;

  svg {
    background-color: #333333;
  }
}

.dark {
  [data-component-part="card-icon"] {
    svg {
      background-color: #333333;
    }
  }
}
